In [2]:
from dbfread import DBF
import pandas as pd

dbf = DBF('World_Languages.dbf')
df = pd.DataFrame(iter(dbf))

In [29]:
df.shape # 324, 15
df.head()

,OBJECTID,SOVEREIGNT,TYPE_,COUNTRY,FIRST_OFFI,SECOND_OFF,THIRD_OFFI,ENGLISH_FI,FRENCH_FIR,ARABIC_FIR,SPANISH_FI,PORTUGUESE,CHINESE_FI,RUSSIAN_FI,WORLD_LANG
0,20,Botswana,Sovereign country,Botswana,English,,,1,0,0,0,0,0,0,English
1,21,Central African Republic,Sovereign country,Central African Republic,French,Sangho,,0,1,0,0,0,0,0,French
2,22,Canada,Sovereign country,Canada,English,French,,1,1,0,0,0,0,0,English_French
3,23,Switzerland,Sovereign country,Switzerland,German,French,Italian,0,1,0,0,0,0,0,French
4,24,Chile,Sovereign country,Chile,Spanish,,,0,0,0,1,0,0,0,Spanish

In [36]:
df_filt = df[df['FIRST_OFFI'].isin(["English", "Chinese", "Russian", "Italian", "German", "French", "Spanish"])] # Ignoring Hebrew for now
df_filt = df_filt.iloc[:, 3:5]
df_filt = df_filt.rename(columns={'COUNTRY': 'Country', 'FIRST_OFFI': 'Primary Language'})
df_filt.shape # 111, 2
df_filt.head()

                    Country Primary Language
0                  Botswana          English
1  Central African Republic           French
2                    Canada          English
3               Switzerland           German
4                     Chile          Spanish